<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN 2.0//EN" "http://www.springframework.org/dtd/spring-beans-2.0.dtd">

<beans>
	<bean id="triangle" class="CollectionClasses.Triangle">
	<property name="points">
	<list>
	<ref bean="print1"/>
	<ref bean="print2"/>
	<ref bean="print3"/>
	</list>
	</property>
	</bean>
	
	<bean id="print1" class="CollectionClasses.Point">
	<property name="x" value="0"/>
	<property name="y" value="0"/>
	</bean>
	
	<bean id="print2" class="CollectionClasses.Point">
	<property name="x" value="-20"/>
	<property name="y" value="0"/>
	</bean>
	
	<bean id="print3" class="CollectionClasses.Point">
	<property name="x" value="20"/>
	<property name="y" value="0"/>
	</bean>
	
	</beans>